{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our website</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi architecto enim expedita nobis distinctio amet nemo reiciendis odio consequatur consectetur voluptates beatae iste excepturi incidunt totam quis optio soluta quas mollitia, delectus laborum. Veritatis quasi, labore officiis doloremque accusantium quaerat magnam maxime soluta. Nobis atque aspernatur doloremque obcaecati ipsa maiores voluptas quasi, fugit, eos amet veniam? Voluptatem ratione consequuntur, voluptas distinctio exercitationem nisi veritatis laudantium. Placeat expedita distinctio odio accusantium optio, officiis nisi, quae ipsam est possimus reiciendis ea, atque laboriosam. Non delectus at fugit minima dolore odit repellendus nemo, asperiores quos excepturi cumque temporibus dolorem natus nihil obcaecati enim?
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}